body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;}

.multi-step-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.form-step {
    
}

h2 {
    color: #00796b;
    font-size: 22px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

.card-types {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card-types label {
    display: flex;
    align-items: center;
}

.card-types img {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

button {
    background-color: #00796b;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    background-color: #004d40;
}
